body {
  font-family: 'Bubblegum Sans', cursive;
  background-color: #d2d2d2;
}
.wrapper {
  width: 80vw;
  height: auto;
  margin: auto;
  background-color: #f1f1f1;
}
.footer {
  width: 80vw;
  height: 30px;
  margin: auto;
  background-color: #121212;
  text-align: center;
  padding-top: 5px;
}
.footer a {
  font-family: 'Comfortaa', cursive;
  padding-top: 40%;
  font-weight: 100;
  color: #fff;
}
.me {
  height:5vw;
  width:10vw;
  margin: auto;
  border-radius: 0 0 10vw 10vw;
  -moz-border-radius: 0 0 10vw 10vw;
  -webkit-border-radius: 0 0 10vw 10vw;
  background: url('http://rulotico.github.io/GifsParty/img/karen.gif') center no-repeat;
  background-size: cover;
}
.tit {
  width: 600px;
  margin: auto;
}
.galeria {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.nombre {
  margin-top: 60%;
  text-align: center;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
}
.foto {
  width: 15vw;
  height: 11vw;
  margin: 15px;
  display: inline-block;
  background: url('http://rulotico.github.io/GifsParty/img/karen.gif') center no-repeat;
  background-size: cover;
}
#rulotico {
  background: url('http://rulotico.github.io/GifsParty/img/rulotico.gif') center no-repeat;
  background-size: cover;
}
#sherley {
  background: url('http://rulotico.github.io/GifsParty/img/sherley.gif') center no-repeat;
  background-size: cover;
}
#thrillerzombie {
  background: url('http://rulotico.github.io/GifsParty/img/thrillerzombie.gif') center no-repeat;
  background-size: cover;
}
#armando {
  background: url('http://rulotico.github.io/GifsParty/img/Simba.gif') center no-repeat;
  background-size: cover;
}
#peter {
  background: url('http://rulotico.github.io/GifsParty/img/Peter.gif') center no-repeat;
  background-size: cover;
}
#Paco {
  background: url('http://rulotico.github.io/GifsParty/img/pako.gif') center no-repeat;
  background-size: cover;
}
#leovi {
  background: url('http://rulotico.github.io/GifsParty/img/leovi.gif') center no-repeat;
  background-size: cover;
}
#jorge {
  background: url('http://rulotico.github.io/GifsParty/img/jj.gif') center no-repeat;
  background-size: cover;
}
#arturo {
  background: url('http://rulotico.github.io/GifsParty/img/arturo.gif') center no-repeat;
  background-size: cover;

}
#edgar {
  background: url('http://rulotico.github.io/GifsParty/img/giphy.gif') center no-repeat;
  background-size: cover;
}
#axel {
  background: url('http://rulotico.github.io/GifsParty/img/bobe.gif') center no-repeat;
  background-size: cover;
}
